@import './../../../assets/styles/vars';

.Tooltip {
  position: relative;
  display: inline-block;
}

.Tooltip-text {
	position: absolute;
	z-index: 1000;
	bottom: 100%;
	left: 50%;

	width: max-content;
	padding: 10px 8px 8px;
	border: 2px solid $color-border-black;
	border-radius: 4px;
	box-shadow: 
		inset 3px 0 0 $color-border-tooltip,
		inset 0 3px 0 $color-border-tooltip,
		inset -3px 0 0 $color-border-tooltip,
		inset 0 -3px 0 $color-border-tooltip;
	background: $color-tooltip;

	color: $color-text-white;
	text-align: center;
	text-shadow: $text-shadow-white;
	line-height: 1;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s;
}

.Tooltip:hover .Tooltip-text {
	visibility: visible;
	opacity: 1;
}
