@import './../../assets/styles/vars';

.JobShowcase {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.JobShowcase-content {
	display: flex;
	justify-content: center;
}

.JobShowcase-content p {
	overflow-y: auto;
	font-size: small;
}

.JobShowcase-content .Book {
	gap: 12px;
}

.JobShowcase-buttons {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-top: auto;
}

.JobShowcase-goback {
	position: absolute;
	bottom: 8px;
	left: 12px;
	border: none;
	background: none;
	color: $color-text-black;
	cursor: pointer;
}

