.Projects .Title {
	margin-bottom: 12px;
}

.Projects .GridContainer {
	padding-right: 12px;
}

.Projects .Slot {
	border-width: 6px;
}

@media (width < 1300px) {
	.Projects .Toast {
    top: -200px;
		left: auto;
    right: 50%;
    transform: translateX(50%);
	}
}