/* Background */
$color-inventory: #c6c6c6;
$color-slot: #8b8b8b;
$color-book: #fdf7ea;
$color-toast: #212121;
$color-button-disabled: #2c2c2c;
$color-tooltip: #170817e0;
$color-book-scrollbar-track: #987c64;
$color-book-scrollbar-one: #c3251d;
$color-book-scrollbar-two: #712713;

/* Border */
$color-border-tooltip: #290560;
$color-border-black: #000;

/* Text */
$color-text: #404040;
$color-text-white: #fff;
$color-text-black: #000;
$color-text-light: #e0e0e0;
$color-text-light-gray: #a0a0a0;
$color-text-gray: #555;
$color-text-blue: #43a8ff;
$color-text-button-hover: #ffffa0;

$text-shadow: 2px 2px 0 #0008;
$text-shadow-white: 2px 2px 0 #555c;
$text-shadow-yellow: 2px 2px 0 #51511bcc;
$text-shadow-blue: 2px 2px 0 #392affbf;

/* Texture Pack */
$color-button-hover: var(--color-button-hover, #7e88bf);
$color-border-one: var(--color-border-one, #aaa);
$color-border-two: var(--color-border-two, #565656);
$color-border-three: var(--color-border-three, #373737);
$color-border-button-hover-one: var(--color-border-button-hover-one, #bfc8ff);
$color-border-button-hover-two: var(--color-border-button-hover-two, #5c669d);
$color-border-button-hover-three: var(--color-border-button-hover-three, #000);
